<!-- weather.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Weather Forecast</title>
    <script src="https://kit.fontawesome.com/a97dcc86ca.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Weather Forecast for the Next 7 Days</h1>
    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <table border="1">
        <thead>
            <tr>
                <th>Data Type</th>
                <th>Day 1</th>
                <th>Day 2</th>
                <th>Day 3</th>
                <th>Day 4</th>
                <th>Day 5</th>
                <th>Day 6</th>
                <th>Day 7</th>
            </tr>
        </thead>
        <tbody>
            {% for key, values in weather_data.items %}
            <tr>
                <td style="text-align: center;">{{ key }}</td>
                {% for value in values %}
                {% if key == 'Weather Icon' %}
                    {% for key2, icon in weather_icons.items %}
                    {% if value == key2 %}
                        <td style="text-align: center;">{{ icon | safe}}</td>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <td style="text-align: center;">{{ value }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br>
</body>
</html>